html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fbe9d5;
}

.footer {
    background-color: #ffd0ab;
}

.error-container {
    text-align: center;
    padding: 3rem 1rem;
}

.error-container p {
    font-size: 26px;
    line-height: 1.5;
}

.error-image {
    max-width: 80%;
    margin-bottom: 20px;
}

tbody {
    border-color: #000000;
}