html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fbe9d5;
}

.footer {
    background-color: #ffd0ab;
}

tbody {
    border-color: #000000;
}