@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>LearnLink</b></h1>
    <p style="font-size: 23px;">Your Gateway to Interactive Learning Experiences.</p>

    <img class="home-page-image" alt="home" src="~/images/home/book.jpg" style="width: 75vh; margin-top: 10px;" />
</div>