@{
    ViewData["Title"] = "Account Activation";
}

<div class="text-center mt-5">
    <img src="~/images/home/maintenance.png" alt="Logo" style="width: 200px; height: 200px;" />
    <h2 style="font-size: 40px;">Welcome to LearnLink!</h2>
    <p style="margin-top: 20px; font-size: 25px;">Your account is currently awaiting activation.</p>
    <p style="margin-top: 10px; font-size: 25px;">Please contact an administrator to assign a role and unlock access to our platform's features.</p>
    <p style="margin-top: 10px; font-size: 25px;">Email: <a href="mailto:admin@mail.com">admin@mail.com</a></p>
</div>

