@{
    ViewData["Title"] = "Dashboard";
}

<body>
    <div class="container mt-5">
        <h1 class="text-center" style="margin-bottom: 18px;">Hello, Admin!</h1>
        <p class="text-center" style="font-size: 20px;">This is your dashboard. Here you can manage various aspects of the application.</p>

        <div class="card" style="margin-top: 75px; background-color: #ffe08a;">
            <div class="card-body">
                <h3 class="text-center">Available Actions</h3>
                <hr>
                <div class="text-center">
                    <a asp-controller="User" asp-action="All" class="btn btn-primary mb-2 mr-2">Manage Users</a>
                    <a asp-controller="Grade" asp-action="All" class="btn btn-success mb-2 mr-2">Manage Grades</a>
                    <a asp-controller="Attendance" asp-action="All" class="btn btn-warning mb-2 mr-2">Manage Attendances</a>
                    <a asp-controller="Subject" asp-action="All" class="btn btn-info mb-2">Manage Subjects</a>
                </div>
            </div>
        </div>
    </div>
</body>
